﻿@using Balanca.Common

@model  Balanca.ViewModels.ConsultaUsuarioViewModels

@{
    ViewBag.Title = "Consulta Usuário";
}


<style>
    .radio-group label {
        overflow: hidden;
    }

    .radio-group input {
        height: 1px;
        width: 1px;
        position: absolute;
        top: -20px;
    }

    .radio-group .not-active {
        color: #428bca;
        background-color: #fff;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.radio-group label').on('click', function () {
            $(this).removeClass('not-active').siblings().addClass('not-active');
        });

        $('.btn-info').on('click', function () {
            swal("Informações :", this.title, "info");
        });

        $("input[name='PraticaAtividadeFisica']").on('click', function () {

            if (this.value == "Sim") {
                $("#divPraticaAtividadeFisica").show();
            } else {
                $("#divPraticaAtividadeFisica").hide();
            }

        });
    });
</script>

<div class="row">
    <h3>Dados do usuário</h3>
    <div id="dadosUsuario" div class="container">
        <div class="row">
            <div class="col-md-12"><strong>Nome : </strong> @Model.Nome<br /></div>
            <div class="col-md-4"><strong>Empresa : </strong> @Model.Empresa </div>
            <div class="col-md-4"><strong>Setor : </strong>@Model.Setor</div>
            <div class="col-md-4"><strong>Cargo : </strong>@Model.Cargo</div>
            <div class="col-md-4"><strong>Idade : </strong>@Model.Idade</div>
            <div class="col-md-4"><strong>Sexo : </strong>@Model.SexoString</div>
        </div>
    </div>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CPF)
    @Html.HiddenFor(x => x.Nome)
    @Html.HiddenFor(x => x.Setor)
    @Html.HiddenFor(x => x.Cargo)
    @Html.HiddenFor(x => x.DataNascimento)
    @Html.HiddenFor(x => x.Sexo)
    @Html.HiddenFor(x => x.Empresa)


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Escolaridade, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.Escolaridade)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Escolaridade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivil, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.EstadoCivil)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filhos, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.Filhos)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Filhos, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TempoTrabalhoEmpresa, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.TempoTrabalhoEmpresa)

                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.TempoTrabalhoEmpresa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TrabalhoFisicamenteDesgastante, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.TrabalhoFisicamenteDesgastante)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.TrabalhoFisicamenteDesgastante, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TrabalhoPsicologicamenteExtressanete, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.TrabalhoPsicologicamenteExtressanete)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.TrabalhoPsicologicamenteExtressanete, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConsumoAlcoolSemanal, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.ConsumoAlcoolSemanal)
                    </div>
                    &nbsp;
                    <button type="button" class="btn btn-info" data-toggle="tooltip" title="Doses: drinque padrão equivalente a uma lata de cerveja (350 ml), a uma taça de vinho (120 ml) ou a uma dose de bebida destilada (45 ml).">?</button>
                </div>
                @Html.ValidationMessageFor(model => model.ConsumoAlcoolSemanal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Fumante, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.Fumante)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Fumante, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PraticaAtividadeFisica, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.PraticaAtividadeFisica)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.PraticaAtividadeFisica, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="divPraticaAtividadeFisica" style="display: none">
            <div class="form-group">
                @Html.LabelFor(model => model.AtividadeFisicaLeve, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="btn-group radio-group">
                            @Html.EnumRadioButton(model => model.AtividadeFisicaLeve)

                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.AtividadeFisicaLeve, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AtividadeFisicaIntensa, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="btn-group radio-group">
                            @Html.EnumRadioButton(model => model.AtividadeFisicaIntensa)

                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.AtividadeFisicaIntensa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SatisfacaoTrabalho, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.SatisfacaoTrabalho)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.SatisfacaoTrabalho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SatisfacaoVida, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.SatisfacaoVida)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.SatisfacaoVida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estressado, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.Estressado)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Estressado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Insonia, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.Insonia)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Insonia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProximoDificuldadeFinanceira, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.ProximoDificuldadeFinanceira)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.ProximoDificuldadeFinanceira, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Saude, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.Saude)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Saude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoencaLimiteAtividade, htmlAttributes: new { @class = "control-label col-md-4" })

            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.DoencaLimiteAtividade)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.DoencaLimiteAtividade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AfastamentoTrabalhoSaude, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.AfastamentoTrabalhoSaude)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.AfastamentoTrabalhoSaude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgendaConsultasForaHorarioExp, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.AgendaConsultasForaHorarioExp)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.AgendaConsultasForaHorarioExp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoresContinuaCostas, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.DoresContinuaCostas)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.DoresContinuaCostas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdePorcoesConsumidaPorDia, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.QtdePorcoesConsumidaPorDia)
                    </div>
                    &nbsp;
                    <button type="button" class="btn btn-info" title="Somar todas as refeições do dia, por exemplo:
Café da manhã: Leite com Nescau + pão francês = 2 porções
Almoço: bife + arroz + purê de batata +verduras + refrigerante + sobremesa = 4 porções
Lanche da tarde: Bolo + Café com açúcar = 2 porções
Jantar: Macarrão = 1 porção
Total = 9 porções
">
                        ?
                    </button>
                </div>
                @Html.ValidationMessageFor(model => model.QtdePorcoesConsumidaPorDia, "", new { @class = "text-danger" })
            </div>


        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdePorcoesFrutaLegumesPorDia, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.QtdePorcoesFrutaLegumesPorDia)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.QtdePorcoesFrutaLegumesPorDia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Doenca, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.Doenca)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Doenca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TomaMedicamento, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.TomaMedicamento)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.TomaMedicamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoMedicamento, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <div class="btn-group radio-group">
                        @Html.EnumRadioButton(model => model.TipoMedicamento)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.TipoMedicamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="reset" value="Limpar" class="btn btn-danger" /> |
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
