﻿@model Balanca.Entities.Balanca.Model.ConsultasUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsultasUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escolaridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escolaridade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrabalhoFisicamenteDesgastante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrabalhoFisicamenteDesgastante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrabalhoPsicologicamenteExtressanete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrabalhoPsicologicamenteExtressanete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoAlcoolSemanal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoAlcoolSemanal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fumante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fumante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PraticaAtividadeFisica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PraticaAtividadeFisica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtividadeFisicaLeve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtividadeFisicaLeve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtividadeFisicaIntensa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtividadeFisicaIntensa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatisfacaoTrabalho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatisfacaoTrabalho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatisfacaoVida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatisfacaoVida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estressado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estressado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProximoDificuldadeFinanceira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProximoDificuldadeFinanceira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoencaLimiteAtividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoencaLimiteAtividade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfastamentoTrabalhoSaude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfastamentoTrabalhoSaude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendaConsultasForaHorarioExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaConsultasForaHorarioExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoresContinuaCostas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoresContinuaCostas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdePorcoesConsumidaPorDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdePorcoesConsumidaPorDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdePorcoesFrutaLegumesPorDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdePorcoesFrutaLegumesPorDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDoenca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDoenca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TomaMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TomaMedicamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMedicamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultasUsuarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
