﻿@using Balanca.Models
@model Balanca.ViewModels.LoginUsuariaoViewModel
@{
    ViewBag.Title = "Efetuar login";
}

<script>
    jQuery(function($){
        $("#CPF").mask("999.999.999-99");   
    });
   
</script>


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "ConsultaUsuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-offset-4 col-md-8">
                    <h4>Saúde em Forma</h4>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" , placeholder = "CPF", maxlength = "14"})
                        @Html.ValidationMessageFor(m => m.CPF, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-6">
                        <input type="submit" value="Acessar" class="btn btn-default" />
                    </div>
                </div>


            }
        </section>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/inputmask")
}

