﻿@using Balanca.Models
@model Balanca.ViewModels.LoginUsuariaoViewModel
@{
    ViewBag.Title = "Efetuar login";
}


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-offset-4 col-md-8">

                    <h4>Informe seu CPF para efetuar login.</h4>
                    <hr />
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.CPF, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CPF, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Efetuar login" class="btn btn-default" />
                    </div>
                </div>


            }
        </section>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}